// Theme colors
$primary: #541cff;
$secondary: #8482ff;
$primaryTextColor: #404553;
$secondaryTextColor: #8c95a8;
$bg-primary: #2a2727;
$bg-secondary: #454445;

// dimensions
$appbar: 56px;
$toolbar: 46px;
$propertybar: 46px;
$options: 230px;

// the :export directive is the magic sauce for webpack
:export {
  primaryColor: $primary;
  secondaryColor: $secondary;
  primaryTextColor: $primaryTextColor;
  secondaryTextColor: $secondaryTextColor;
  appbar: $appbar;
  toolbar: $toolbar;
  propertybar: $propertybar;
  options: $options;
  //appbar: $appbar
}
