@import "../../../styles/style";
.ui-toolbar {
  width: $toolbar;
  height: 100%;
  background-color: $bg-primary;
  padding: 18px 0 0 0;
  box-sizing: border-box;

  &__item {
    width: 64px;
    height: 45px;
    border-radius: 10px;
    text-align: center;
    margin: 8px auto 0;
    border: none;
    outline: none;
    display: block;
    background: none;

    &:hover {
      background-color: rgb(71, 71, 71);
    }

    &-icon {
      height: 25px;
      margin: 10px 0;
    }
  }

  .MuiTooltip-popper {
    background-color: #2a2fff;
  }
}
