@import "../../../styles/style";
.ui-window {
  width: 100%;
  height: 100%;
  min-height: 600px;
  min-width: 800px;
  border-radius: 10px;
  background-color: $bg-primary;
  position: relative;
  overflow: hidden;

  //&__back {
  //  width: 48px;
  //  height: 48px;
  //  border-radius: 50%;
  //  background-color: #f0f0f0;
  //  position: absolute;
  //  top: 24px;
  //  left: 24px;
  //  text-align: center;
  //  padding: 14px 0;
  //  box-sizing: border-box;
  //
  //  img {
  //    height: 20px;
  //  }
  //}

  &__scale {
    display: inline-block;
    position: absolute;
    top: 20%;
    left: 30%;
    transform: rotate(-25deg);

    &-top {
      height: 1px;
      width: 100%;
      position: absolute;
      top: 0;
      background-color: rgb(151, 151, 151);

      &::after {
        content: '';
        width: 16px;
        height: 16px;
        background-color: #d8d8d8;
        border: 1px solid rgb(151, 151, 151);
        position: absolute;
        top: -8px;
        left: -8px;
        z-index: 1;
        border-radius: 10px;
        cursor: grab;
      }

      &::before {
        content: '';
        width: 16px;
        height: 16px;
        background-color: #d8d8d8;
        border: 1px solid rgb(151, 151, 151);
        position: absolute;
        top: -8px;
        z-index: 1;
        left: calc( 50% - 8px );
        border-radius: 10px;
        cursor: grab;
      }
    }

    &-right {
      height: 100%;
      width: 1px;
      position: absolute;
      right: 0;
      background-color: rgb(151, 151, 151);

      &::after {
        content: '';
        width: 16px;
        height: 16px;
        background-color: #d8d8d8;
        border: 1px solid rgb(151, 151, 151);
        position: absolute;
        top: -8px;
        right: -8px;
        z-index: 1;
        border-radius: 10px;
        cursor: grab;
      }

      &::before {
        content: '';
        width: 16px;
        height: 16px;
        background-color: #d8d8d8;
        border: 1px solid rgb(151, 151, 151);
        position: absolute;
        top: calc( 50% - 8px );
        right: -8px;
        z-index: 1;
        border-radius: 10px;
        cursor: grab;
      }
    }

    &-bottom {
      height: 1px;
      width: 100%;
      position: absolute;
      bottom: 0;
      background-color: rgb(151, 151, 151);

      &::after {
        content: '';
        width: 16px;
        height: 16px;
        background-color: #d8d8d8;
        border: 1px solid rgb(151, 151, 151);
        position: absolute;
        bottom: -8px;
        right: -8px;
        z-index: 1;
        border-radius: 10px;
        cursor: grab;
      }

      &::before {
        content: '';
        width: 16px;
        height: 16px;
        background-color: #d8d8d8;
        border: 1px solid rgb(151, 151, 151);
        position: absolute;
        bottom: -8px;
        right: calc( 50% - 8px );
        z-index: 1;
        border-radius: 10px;
        cursor: grab;
      }
    }

    &-left {
      height: 100%;
      width: 1px;
      position: absolute;
      left: 0;
      background-color: rgb(151, 151, 151);

      &::after {
        content: '';
        width: 16px;
        height: 16px;
        background-color: #d8d8d8;
        border: 1px solid rgb(151, 151, 151);
        position: absolute;
        bottom: -8px;
        left: -8px;
        z-index: 1;
        border-radius: 10px;
        cursor: grab;
      }

      &::before {
        content: '';
        width: 16px;
        height: 16px;
        background-color: #d8d8d8;
        border: 1px solid rgb(151, 151, 151);
        position: absolute;
        bottom: calc( 50% - 8px );
        left: -8px;
        z-index: 1;
        border-radius: 10px;
        cursor: grab;
      }
    }
  }
}

